<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Salut {{name}},</p>
    <p>Aici găsești cererea ta de resetare a parolei.</p>
    <p> Apasă link-ul de mai jos pentru a reseta parola.</p>
    <a href="{{link}}">Resetare parolă</a>
  </body>
</html>